<div>
  <div>
      <input type="file" id="myfile" name="myfile" accept=".csv" (change)="readInput($event)" />
    </div>
  <div>
    <!-- <button (click)="testClick()">Duplicate file content</button>
    <br/>
    <button (click)="testClick2()">Alert csv-content in variable</button>
  
    <h3>Duplicate:</h3>
    <p id="test2">"{{csvHTMLDuplicate}}"</p>

    <h3>All content in file:</h3>
    <p id="test1">{{csvContent}}</p>

    <h3>Every row:</h3>
    <div *ngFor="let row of csvParsed;">
      <p>{{row}}</p>
    </div> -->
      
    <!-- <h3>Every column:</h3>
    <div *ngFor="let column of csvColumns;" style="background-color: lightcyan;">
      <p>{{column}}</p>    
      <div *ngFor="let item of column;">
        <p>{{item}}</p>
      </div>
    </div> -->

  </div>
</div>
  